<div class="container">
  <form id="form" action="/login" method="post" style="display:flex; justify-content:center" class="form">
    <div class="card mt-5" style="width: 40%;">
      <div class="card-header">
        <h1 style="justify-content: center; display:flex">Account Login</h1>
      </div>
      <div class="card-body">
        <div class="form-group mb-5">
          <label for="email" style="font-size: larger;">Email</label>
          <input class="form-control" type="text" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="form-group mb-5">
          <label for="password" style="font-size: larger;">Password</label>
          <input class="form-control" type="text" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group" style="justify-content: center; display:flex">
          <button id="submitBtn" type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </div>
  </form>
</div>