<div class="container">
  <div class="row mt-5">
    <h1><span style="font-weight:bolder">Welcome, {{name}}</span></h1>
  </div>
  <form action="/" method="get" class="mt-5">
    <button type="submit" class="btn btn-danger">Logout</button>
  </form>
</div>